# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore virtual environments
venv/
env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Streamlit's cache
.streamlit/config.toml
.streamlit/secrets.toml
